@font-face {
  font-family: "Brandon grotesque regular";
  src: url('./brand_ssv/Brandon_reg.otf');
}

@font-face {
  font-family: "Brandon grotesque med";
  src: url("./brand_ssv/Brandon_med.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --body-background: rgb(22, 25, 27);
  --red-accent: rgb(255, 66, 96);
  --grey-accent: rgb(41, 46, 50);
  --color-white: rgb(255, 255, 255);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Brandon grotesque med";
  color: var(--grey-accent);
  overflow-x: hidden;
  background-color: rgb(208, 228, 246);
}

p {
  color: var(--color-white);
  font-family: "Brandon grotesque regular";
  font-size: 1.8rem;
  font-weight: 500;
}

.container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  gap: 3rem;
}

.front,
.back {
  overflow: hidden;
  display: flex;
  width: 70rem;
  height: 40rem;
  margin: auto;
  background-color: var(--color-white);
}

.front > *,
.back > * {
  height: 100%;
}

.front__box-1, 
.front__box-3 {
  display: flex;
  width: 25%;
  flex: 0 0 25%;
  position: relative;

}

.front__box-2 {
  width: 50%;
  flex: 0 0 50%;
  position: relative;
}

.hexagon {
  width: 45rem;
}

/* Front box 1 positions (left)*/

.front__box-1--hexagons > .hexagon-red {
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translateX(-50%) translateY(10%) rotate(-151deg);
}

.front__box-1--hexagons > .hexagon-dark {
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translateX(-50%) translateY(40%) rotate(-151deg);
}

/* Front box 3 positions (right)*/

.front__box-3--hexagons > .hexagon-red {
  position: absolute;
  top: -50%;
  right: -50%;
  transform: translateX(50%) translateY(60%) rotate(-151deg);
}

.front__box-3--hexagons > .hexagon-dark {
  position: absolute;
  top: -50%;
  right: -50%;
  transform: translateX(50%) translateY(30%) rotate(-151deg);
}

/* Front box 2 (middle text) */

.front__box-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front__box-2--text,
.back__box-1--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front__box-2--text > h1 {
  font-size: 3rem;
}

.front__box-2--text > h2 {
  font-size: 1.7rem;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  color: var(--red-accent);
}

h2 {
  color: var(--grey-accent);
  font-weight: 400;
  letter-spacing: .7rem;
}

.qr-code {
  height: 7.5rem;
  width: 7.5rem;
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  border: 3px solid var(--red-accent);
  border-radius: 2px;
  outline: 3px solid var(--grey-accent);
}

/* Back side */

.back__box-1, 
.back__box-2 {
  display: flex;
  width: 50%;
  flex: 0 0 50%;
  position: relative;
}


.back__box-1--hexagons > .hexagon-red {
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translateX(-15%) translateY(-35%) rotate(-151deg);
}

.back__box-1--hexagons > .hexagon-dark {
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translateX(-25%) translateY(-30%) rotate(-151deg);
}

.back__box-2--hexagons > .hexagon-dark {
  position: absolute;
  top: -50%;
  right: 50%;
  transform: translateX(65%) translateY(30%) rotate(-151deg);
}

.back__box-2--hexagons > .hexagon-red {
  position: absolute;
  top: -50%;
  right: 50%;
  transform: translateX(65%) translateY(60%) rotate(-151deg);
}

.back__box-1--text {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(25%, -230%);
}

.back__box-1--text h1 {
  font-size: 3rem;
}

.back__box-1--text h2 {
  font-size: 1.7rem;
}

.contacts-top,
.contacts-bottom {
  position: absolute;
  right: 2rem;
}

.contacts-top > li,
.contacts-bottom > li {
  margin-bottom: .5rem;
}

.contacts-top {
  top: 9%;
}

.contacts-bottom {
  top: 65%;
}

.contacts-top,
.contacts-bottom {
  display: flex;
  flex-direction: column;
}

.icons {
  position: relative;
  display: flex;
  align-items: center;
}

.arrows {
  width: 3rem;
  height: 3rem;
}

.contact-icon {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  top: 55%;
  right: 1.6rem;
  transform: translate(75%, -60%);
}

.text-box {
  width: 30rem;
  display: flex;
  justify-content: flex-end;
}

.contact-text {
  margin-right: 1rem;
}